<?xml version="1.0"?>
<robot name="sad_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:property name="hardware_interface" value="hardware_interface/PositionJointInterface"/>

    <link name="world"/>
    <joint name="fixed_base" type="fixed" disable_fixed_joint_lumping="true">
        <origin rpy="1.57 0 -1.57" xyz="0 -0.03 0"/>
        <parent link="world"/>
        <child link="base_link"/>
    </joint>

    <link name="base_link">
        <visual>
            <geometry>
                <mesh filename="file://$(find sad_pkg)/meshes/link1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>

        <collision>
            <geometry>
                <mesh filename="file://$(find sad_pkg)/meshes/link1.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>

        <inertial>
            <mass value="0.001"/>  
            <inertia ixx="0.01" ixy="0.0" ixz="0.0"
                    iyy="0.01" iyz="0.0"
                    izz="0.01"/>
        </inertial>
    </link>

    <link name="link1">
        <visual>
            <geometry>
                <mesh filename="file://$(find sad_pkg)/meshes/link2.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>

        <collision>
            <geometry>
                <mesh filename="file://$(find sad_pkg)/meshes/link2.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>

        <inertial>
            <mass value="0.001"/> 
            <inertia ixx="0.01" ixy="0.0" ixz="0.0"
                    iyy="0.01" iyz="0.0"
                    izz="0.01"/>
        </inertial>
    </link>

    <link name="link2">
        <visual>
            <geometry>
                <mesh filename="file://$(find sad_pkg)/meshes/link3.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>

        <collision>
            <geometry>
                <mesh filename="file://$(find sad_pkg)/meshes/link3.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>

        <inertial>
            <mass value="0.001"/>
            <inertia ixx="0.01" ixy="0.0" ixz="0.0"
                    iyy="0.01" iyz="0.0"
                    izz="0.01"/>
        </inertial>
    </link>

    <link name="link3">
        <visual>
            <geometry>
                <mesh filename="file://$(find sad_pkg)/meshes/link4.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>

        <collision>
            <geometry>
                <mesh filename="file://$(find sad_pkg)/meshes/link4.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>

        <inertial>
            <mass value="0.001"/>
            <inertia ixx="0.01" ixy="0.0" ixz="0.0"
                    iyy="0.01" iyz="0.0"
                    izz="0.01"/>
        </inertial>
    </link>
    
    <link name="link4">
        <visual>
            <geometry>
                <mesh filename="file://$(find sad_pkg)/meshes/link5.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>

        <collision>
            <geometry>
                <mesh filename="file://$(find sad_pkg)/meshes/link5.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>

        <inertial>
            <mass value="0.001"/> 
            <inertia ixx="0.01" ixy="0.0" ixz="0.0"
                    iyy="0.01" iyz="0.0"
                    izz="0.01"/>
        </inertial>
    </link>

    <link name="link5">
        <visual>
            <geometry>
                <mesh filename="file://$(find sad_pkg)/meshes/link6.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>

        <collision>
            <geometry>
                <mesh filename="file://$(find sad_pkg)/meshes/link6.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>

        <inertial>
            <mass value="0.001"/>
            <inertia ixx="0.01" ixy="0.0" ixz="0.0"
                    iyy="0.01" iyz="0.0"
                    izz="0.01"/>
        </inertial>
    </link>

    <link name="link6">
        <visual>
            <geometry>
                <mesh filename="file://$(find sad_pkg)/meshes/link7.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>

        <collision>
            <geometry>
                <mesh filename="file://$(find sad_pkg)/meshes/link7.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>

        <inertial>
            <mass value="0.001"/> 
            <inertia ixx="0.01" ixy="0.0" ixz="0.0"
                    iyy="0.01" iyz="0.0"
                    izz="0.01"/>
        </inertial>
    </link>

    <link name="link7">
        <visual>
            <geometry>
                <mesh filename="file://$(find sad_pkg)/meshes/endeffector.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </visual>

        <collision>
            <geometry>
                <mesh filename="file://$(find sad_pkg)/meshes/endeffector.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>

        <inertial>
            <mass value="0.001"/> 
            <inertia ixx="0.01" ixy="0.0" ixz="0.0"
                    iyy="0.01" iyz="0.0"
                    izz="0.01"/>
        </inertial>
    </link>

    <joint name="joint1" type="revolute">
        <parent link="base_link"/>
        <child link="link1"/>
        <origin xyz="-0.044 0.383 -0.001" rpy="0 1.57 0"/>
        <axis xyz="0 1 0" />
        <limit effort="1000.0" velocity="0.1" lower="-1.57" upper="1.57" />
        <dynamics damping="100" friction="50" />
    </joint>

    <joint name="joint2" type="revolute">
        <parent link="link1"/>
        <child link="link2"/>
        <origin xyz="-0.004 0.018 0" rpy="0 0 0"/>
        <axis xyz="0 0 -1" />
        <limit effort="1000.0" velocity="0.1" lower="-1.57" upper="1.57" />
        <dynamics damping="100" friction="50" />
    </joint>

    <joint name="joint3" type="revolute">
        <parent link="link2"/>
        <child link="link3"/>
        <origin xyz="0 0.205 0" rpy="0 3.14 3.14"/>
        <axis xyz="0 -1 0" />
        <limit effort="1000.0" velocity="0.1" lower="-1.57" upper="1.57" />
        <dynamics damping="100" friction="50" />
    </joint>

    <joint name="joint4" type="revolute">
        <parent link="link3"/>
        <child link="link4"/>
        <origin xyz="0 -0.068 0.0015" rpy="-1.57 0 0"/>
        <axis xyz="0 -1 0" />
        <limit effort="1000.0" velocity="0.1" lower="-1.57" upper="1.57" />
        <dynamics damping="100" friction="50" />
    </joint>

    <joint name="joint5" type="revolute">
        <parent link="link4"/>
        <child link="link5"/>
        <origin xyz="0 0.0005 -0.202" rpy="1.57 0 1.57"/>
        <axis xyz="0 -1 0" />
        <limit effort="1000.0" velocity="0.1" lower="-1.57" upper="1.57" />
        <dynamics damping="100" friction="50" />
    </joint>

    <joint name="joint6" type="revolute">
        <parent link="link5"/>
        <child link="link6"/>
        <origin xyz="0 -0.053 0" rpy="1.57 1.57 0"/>
        <axis xyz="0 1 0" />
        <limit effort="1000.0" velocity="0.1" lower="-1.57" upper="1.57" />
        <dynamics damping="100" friction="50" />
    </joint>

    <joint name="joint7" type="revolute">
        <parent link="link6"/>
        <child link="link7"/>
        <origin xyz="-0.086 0.002 0.04" rpy="-1.57 0 3.14"/>
        <axis xyz="0 1 0" />
        <limit effort="1000.0" velocity="0.1" lower="-1.57" upper="1.57" />
        <dynamics damping="100" friction="50" />
    </joint>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>/home/gaga/sad_ws/install/sad_pkg/share/sad_pkg/config/sad_controllers.yaml</parameters>
        </plugin>
    </gazebo>

    <ros2_control name="sad_robot" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    <joint name="joint1">
        <command_interface name="position"/>
        <state_interface name="position">
        <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
    </joint>
    <joint name="joint2">
        <command_interface name="position"/>
        <state_interface name="position">
        <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
    </joint>
    <joint name="joint3">
        <command_interface name="position"/>
        <state_interface name="position">
        <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
    </joint>
    <joint name="joint4">
        <command_interface name="position"/>
        <state_interface name="position">
        <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
    </joint>
    <joint name="joint5">
        <command_interface name="position"/>
        <state_interface name="position">
        <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
    </joint>
    <joint name="joint6">
        <command_interface name="position"/>
        <state_interface name="position">
        <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
    </joint>
    <joint name="joint7">
        <command_interface name="position"/>
        <state_interface name="position">
        <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
    </joint>
  </ros2_control>


</robot>